.cabeçalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    font-family: var(--fonte);
}

.box__cabeçalho {
    display: flex;
    align-items: center;
    width: 27px;
    margin-left: 112px;
}



.fonte__logo {
    color: var(#3A404E);
    padding-left: 8px;
    font-size: 24px;
    font-weight: 500;
}

.box__cabeçalho--menu {
    padding-left: 240px;
    

}

.cabeçalho__lista {
    display: flex;
}

.cabeçalho__item {
    margin: 28px 32px 28px 0;
    color: #667085;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.box__cabeçalho--botao {
    padding: 28px 0 28px 366px;
}

.botao__item {
    padding-left: 30px;
    color: #667085;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.botao__cadastrar {
    background: var(--vermelho-padrao);
    padding: 10px 18px;
    border-radius: 8px;
    color: var(--fundo-cabeçalho);
}

/* .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 1440px;
    height: 80px;
}

.cabeçalho {
    display: flex;
    padding: 28px 0;
}

.imagem__cabeçalho {

    padding-right: 8px;
    width: 27px;
    height: 26.99px;
    margin-right: 112px;
}

.box__cabeçalho {
    display: flex;
    align-items: center;
    padding: 28px 0 28px 112px;
}

.box__cabeçalho--menu {
    display: flex;
    width: 362px;
    height: 32px;
    padding: 28px 0 28px 119px;
}

.cabeçalho__lista {
    display: flex;
    align-items: center;
}

.cabeçalho__item {
    margin-right: 32px;
}



.box__cabeçalho--botao {
    display: flex;
    align-items: center;
    padding: 28px 0 28px 398px;
}

.botao__item {
    padding: 0 32px 0 0;
}

.fonte__logo {
    font-family: var(--fonte-cabeçalho);
    color: var(--cinza-cabeçalho);
    font-size: 18px;
    font-weight: 500;
}

.cabeçalho__link {
    font-family: var(--fonte-cabeçalho);
    color: var(--cinza-cabeçalho);
    font-weight: 500;
    font-size: 16px;
    
}


.botao__cadastrar {
    background: var(--vermelho-padrao);
    padding: 10px 18px;
    border-radius: 8px;
    color: var(--fundo-cabeçalho);
} */