.rodape {
    background: var(--rodape);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.acompanhe {
    color: var(azul);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin: 96px 336px 0 336px;
}

.acompanhe__texto {
    color: var(--cinza-subcabeçalho);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0 40px 0;
}

.box__email {
    display: flex;
    margin: 0 474px 32px 474px;
}


.acompanhe__input {
    width: 360px;
    height: 48px;

    background: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.acompanhe__botao {
    color: var(--fundo-cabeçalho);
    background: var(--vermelho-padrao);
    padding: 12px 20px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-left: 16px;   
}

.direitos {
    color: var(--copy);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0 96px 0;
}