.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 112px 96px 112px;

    width: 1216px;
    height: 404px;

    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.sobre__pequeno {
    color: var(--vermelho-padrao);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 36px;
}

.sobre__grande {
    color: var(--azul);
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin: 16px 0 32px 0;
}

.sobre__foto {
    width: 56px;
    height: 56px;
}

.sobre__nome {
    color: var(--azul);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0  4px 0;
}

.sobre__descriçao {
    color: var(--cinza-subcabeçalho);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}