@import url("./cabeçalho.css");
@import url("./titulo.css");
@import url("./metricas.css");
@import url("./vagas.css");

:root {
    --fundo-cabeçalho: #FFFFFF;
    --vermelho-padrao: #8E2424;
    --cinza-subcabeçalho: #667085;
    --cinza-cabeçalho: #3A404E;
    --fonte: 'Inter', sans-serif;
    --azul: #101828;
}

body {
    background: var(--fundo-cabeçalho);
    font-family: var(--fonte);
}