@import url("./cabeçalho.css");

:root {
    --fundo-cabeçalho: #FFFFFF;
    --vermelho-padrao: #8E2424;
    --cinza-subcabeçalho: #667085;
    --cinza-cabeçalho: #3A404E;
    --fonte-cabeçalho: font-family: 'Inter', sans-serif;
}

body {
    background: var(--fundo-cabeçalho);
}